body {
	background-color:#fff;
}
#logo{
	background-color:#fff;
	border:1px solid #000;
	}
#menu{
	position:relative;
	display:block;
	height:42px;
	font-size:20px;
	font-weight:bold;
	background-color:#000;
	font-family:Arial;
	text-transform:uppercase;
	/*border:10px groove #454545;*/
	}
#menu ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:auto;}
#menu ul li{
	display:block;
	float:left;
	margin:0 1px 0 0;
	}
#menu ul li a{
	display:block;
	float:left;
	color:#fff;
	text-decoration:none;
	padding:14px 22px 0 22px;
	height:28px;
	}
 #menu ul li a:hover, .lenyilok:hover{
	color:#ddd;
	font-size:22px;
	weight:bold;
	display:block;
	}
.jelenlegi{
		 background-color: #4CAF50;
	}
.inactive{
	background-color: #111;
}

#tee {
	position:relative;
	margin:10%;
	
}
#tea_text{
	left:100%; top:50%;
	background-color:#000;
	border:5px solid #fff;
	animation-name:mozgas;
	position:relative;
	animation-duration:5s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate; 
	animation-timing-function:ease-in-out;
	animation-play-state:running;
			
	}
@keyframes mozgas{
	0%{left:100%; top:50%;}
	100%{left:0%; top:50%;}
	}
.lenyilok {
	/*display:none;*/
	list-style-type:none;
	color: black;
    text-decoration: none;
    text-align: left;
}



	