body {
	background-repeat:repeat;
	 background-size: cover;
}
#logo{
	background-color:#fff;
	border:1px solid #000;
	}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
	
}

li {
    float: left;
}

li a, .fajtak {
    display: inline-block;
    color: DodgerBlue;
    text-align: center;
    padding: 14px 16px;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	font-family:arial;
	font-size:28px;
	
    
}

li a:hover, .lenyilas:hover .fajtak {
    background-color: MediumSeaGreen;
}

li.lenyilas {
    display: inline-block;
}

.lenyilok {
    display: none;
    position: absolute;
    background-color: Tomato;
    min-width: 160px;
}

.lenyilok a {
    color: Orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.lenyilok a:hover {background-color:LightGray}

.lenyilas:hover .lenyilok {
    display: block;
}

#tee {
	position:relative;
	margin:10%;
	
}
#tea_text{
	left:100%; top:30%;
	background-color:#000;
	border:5px solid #fff;
	position:relative;
	animation-name:mozgas;
	animation-duration:5s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate; 
	animation-timing-function:ease-in-out;
	animation-play-state:running;
			
	}
@keyframes mozgas{
	0%{left:100%; top:30%;}
	100%{left:30%; top:30%;}
	}
.cim {
	font-family:arial;
	font-weight:bold;
	position:relative;
	left:1%;
	background-color:rgb(240, 240, 240);
	color:DodgerBlue;
	font-size:40px;
	display:inline;
	padding:10px;
	border:5px solid DodgerBlue;
	text-transform:uppercase;
	}

.tartalom{
	font-family:arial;
	position:static;
	background-color:lightgrey;
	color:DodgerBlue;
	font-size:30px;
	display:block;
	padding:10px;
	border:2px solid DodgerBlue;
}
.felsorolas{
	font-family:arial;
	color:MediumSeaGreen;
	font-size:30px;
	list-style-type:circle;
	list-style-position:inside;
	background: lightgrey;
    padding: 20px;
	border:2px solid DodgerBlue;
	
}
.kep{
	border:5px solid DodgerBlue;
	/*background: Orange;*/
	display:block;
}
.kepalairas {
	font-family:arial;
	position:static;
	background-color:rgb(240, 240, 240);
	color:MediumSeaGreen;
	font-size:20px;
	display:block;
	padding:10px;
	border:1px solid DodgerBlue;
	display:inline-block;
}
#transition{
    transition: width 4s;
	width: 250px;
    height: 170px;
}
#transition:hover{
	 width: 800px;
}
footer {
	font-weight:bold;
	text-transform:uppercase;
	padding-top:15px;
	position:fixed;
	left:0;
	bottom:0;
	width: 100%;
	font-family:arial;
	background-color: #333;
	text-align:center;
    height:5%;
	animation-name:szin;
	animation-duration:5s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate; 
	animation-timing-function:ease-in-out;
	animation-play-state:running;
}
@keyframes szin{
	0%{background-color: #333}
	25%{background-color:rgb(60, 60, 60)}
	50%{background-color:rgb(120, 120, 120)}
	75%{background-color:rgb(180, 180, 180)}
	100%{background-color:rgb(240, 240, 240)}
}
footer a {
	font-family:arial;
	color:rgb(240, 240, 240);
	font-size:25px;
	text-align:center;
	animation-name:szin2;
	animation-duration:5s;
	animation-delay:2s;
	animation-iteration-count:infinite;
	animation-direction:alternate; 
	animation-timing-function:ease-in-out;
	animation-play-state:running;
}
@keyframes szin2 {
	0%{color:rgb(240, 240, 240)}
	25%{color:rgb(120, 120, 120)}
	50%{color:rgb(180, 180, 180)}
	75%{color:rgb(60, 60, 60)}
	100%{color: #333}
}